.modal-header {
  border: none;
}

#cvc,
#expiryDate,
#cardNumber {
  margin-top: 10px;
  margin-right: 20px;
  color: gray;
}
#usercheckout {
  width: 15px;
  height: auto;
}
.modal-title {
  font-size: 14px;
  display: flex;
}
.modal-title p {
  color: black !important;
}
.cardvisit {
  display: flex;
  align-items: center;
  padding: 10px;
}
#card {
  width: 30px;
  margin: 0 10px;
}
.mutilple-card {
  display: flex;
  justify-content: space-between;
}
.mutilple-card img {
  width: 30px;
  margin: 0 3px;
}
.mutilple-card p {
  color: black;
}
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  margin: 20px auto;
  text-transform: uppercase;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  width: 80%;
  line-height: 1.15;
  padding: 10px 21px;
  justify-content: center;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}
.cardNumber > label {
  margin: 10px 0 !important;
}
