@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.input-form {
  height: 40px;
  width: 100%;
  position: relative;
  margin: 20px 0;
}
.input-form input {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
.input-form input:focus ~ label,
.input-form input:valid ~ label {
  transform: translateY(-32px);
  font-size: 15px;
}
.input-form label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input-form .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-form .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #202020;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-form input:focus ~ .underline:before,
.input-form input:valid ~ .underline:before {
  transform: scaleX(1);
}
.form-select {
  background-color: transparent;
  color: white;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select avatar files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  color: gray;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
