@import "antd/dist/antd.min.css";
@import "antd/dist/antd.min.css";
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
hr {
  color: white;
}
#detail {
  padding: 40px 0;
  background-color: white;
}
#checkout {
  background-color: black;
}
#blog {
  background-color: rgb(18, 18, 18);
}
#FAQ {
  background-color: white;
}
#profile {
  background: #f8f8f8;
  height: 100vh;
}
#history {
  background: #f8f8f8;
  height: 100vh;
}
#footer {
  height: 60px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
